<div class="card">
  <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
  (click)="expandMoreOrLess()">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button">
        <div class="row">
            <div class="col-md-9 plannedSection">
                Section Header Image
            </div>
            <div class="col-md-1" [ngClass]="{'closed': expandtoggle.sectionHead.status == 'closed','open': expandtoggle.sectionHead.status == 'open'}">
            </div>
          </div>
      </button>
    </h5>
  </div>

  <div id="collapseOne" [ngClass]="sectionheadtoggle" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" (click)="showactivestatus()" #patientDDL>
    <div class="card-body">
      Section Header Image
    </div>
    <div class="card-body">
      <div>
        <form [formGroup]="userFormuserOpportunity" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <input type="file" name="img[]" class="file"  (change)="fileChange(input)" #input >
            <!-- <img src='{{file_srcs[0]}}' alt="" /> -->
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary" id="btnPlanned" style="margin-right: 6px; margin-bottom: 2px">Save Business Article Image</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          <li><a>File Upload</a></li>
          </ul>
      </div>
      </div>
  </div>
</nav>
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <form>
              <div class="form-group">
                  <label for="multiple">Multiple</label>
                  <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
              </div>
              <!-- <div class="form-group">
                  <label for="single">single</label>
                  <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
              </div> -->
          </form>
      </div>
      <div class="col-md-8">
          <div>
              Queue progress:
              <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
          </div>
        <button type="button" class="btn btn-success btn-s"
                      (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
      </div>
     
  </div>
</div>

