<div class="card">
  <div class="card-header" (click)="expandMoreOrLess()" id="headingFive" data-toggle="collapse" data-target="#collapseFive"
    aria-expanded="false" aria-controls="collapseFive">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button">
        <div class="row">
          <div class="col-md-9 techSection">
            Technical Arcitle
          </div>
          <div class="col-md-1" [ngClass]="{'closed': expandtoggle.technicalsection.status == 'closed','open': expandtoggle.technicalsection.status == 'open'}">
          </div>
        </div>
      </button>

    </h5>
  </div>
  <div id="collapseFive" [ngClass]='technicalarticleshoworhide' class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample"
    style=" background-color: bisque !important;" (click)="showActive()">
    <div class="card-body">
      <h3>Technical Arcitle</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form>
            <!-- <div class="form-group">
                                      <label for="multiple">Multiple</label>
                                      <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
                                  </div> -->
            <div class="form-group">
              <label for="single">Please Upload Background Image</label>
              <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
            </div>
            <div class="form-group">
              Queue progress:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
            <!-- <button type="button" style="margin-bottom: 2%;" class="btn btn-success btn-s" (click)="backgroundImageUpload()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
            </button> -->
            <button type="submit" class="btn btn-success" id="btnuploadTexhBckImage" (click)="backgroundImageUpload()" style="margin-right: 6px; margin-bottom: 2px">Upload</button>

          </form>
        </div>
      </div>
      <div>
        <form [formGroup]="userFormuserProjstat" (ngSubmit)="onFormSubmit($event)">
          <div formArrayName="users">
            <div *ngFor="let user of users.controls; index as idx">
              <textarea [formControlName]="idx" class="form-control" aria-label="With textarea" placeholder="Technical Arcitle"></textarea>
            </div>
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary" id="btnTech" style="margin-right: 6px; margin-bottom: 2px">Save Technical Arcitle</button>
            <button type="button" class="btn btn-primary" id="btnAddMoreTechUpdate" (click)="addMoreInputBox()">Add More Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
