.header-title {
  font-size: 32px;
  color: #083d6d;
  font-family: Impact;
}

.brainteaser{
  list-style-type: none;
}

.projstat-values {
  font-family: Impact;
  font-size: 18px
  ;margin-right: 13px;
  color:#083d6d
}
