<h1>Final News Letter</h1>
<br>
<div class="finalnewsletter" style="width : 900px; float: right">


  <div class="row">
    <div class="col-md-12">
      <img alt="logo" src="../../../assets/header-image.PNG" width="100%">
      <div style="position: absolute; bottom: 8px; right: 229px;font:bold">May'18 Edition</div>

    </div>
    <div class="col-md-12">
        <img src='{{ progressbar.content[0]?.headerimage }}' width='100%' />
    </div>
  </div>

  <div class="businessupdate">
    <div *ngIf='progressbar.content.length > 1'>
      <div class="row">
        <div class="col-md-12">
          <p style="background-color:#083d6d;height: 10px;"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <img src="../../../assets/Business update.png" style="width:80px; height:80px;margin: 5px;padding: 10px;" class="image" alt="Business Update Image"
          />
        </div>
        <div class="col-md-10">
          <div class="header-title">
            Business Updates
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li *ngFor="let value of progressbar.content[1][0].usersBusiness"> {{value}}</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div *ngIf='progressbar.content.length > 2'>
      <div class="opportuniyInPipeline">
        <div class="row">
          <div class="col-md-3">
            <div class="header-title">
              Opportunities In Pipeline
            </div>
            <div>
              <img src="../../../assets/Opprtunities_Img.png" style="margin: 5px;padding: 10px;height: 75px;width: 75px;" class="image"
                alt="Opportunity Image" />
            </div>
          </div>
          <div class="col-md-9">
            <ul>
              <li *ngFor="let value of progressbar.content[2][0].users"> {{value}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf='progressbar.content.length > 3'>
      <div class="opportuniyInPipeline">
        <div class="row">
          <div class="col-md-2">
            <div>
              <img src="../../../assets/Achieved.png" style="margin: 5px;padding: 10px;width: 100px;height:100px;" class="image" alt="Opportunity Image"
              />
            </div>
          </div>
          <div class="col-md-10">
            <div class="header-title"> Acheivement </div>
            <br>
            <ul>
              <li *ngFor="let value of progressbar.content[3][0].users"> {{value}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="planning">
    <div *ngIf='progressbar.content.length > 4'>
      <div class="row">
        <div class="col-md-12">
          <p style="background-color:#083d6d;height: 10px;"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="header-title">Planned</div>
          <ul>
            <li *ngFor="let value of progressbar.content[4][0].users"> {{value}}</li>
          </ul>
        </div>
        <div class="col-md-2">
          <img src="../../../assets/Planning.png" style="margin: 5px;padding: 10px;height: 137px; width: 107px;" class="image" alt="Business Update Image"
          />
        </div>

      </div>
    </div>
    <div *ngIf='progressbar.content.length > 5'>
      <strong>Project Statistics</strong>
      <div class="projectstat">
        <div class="row">
          <div class="col-md-5">
            <ul>
              <!-- <li *ngFor="let value of progressbar.content[5]"> {{value}}</li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="Technical">
    <div *ngIf='progressbar.content.length > 6'>
      <div class="row">
        <div class="col-md-12">
          <p style="background-color:#083d6d;height: 10px;"></p>
        </div>
      </div>

      <div class="row">
        <div style="margin-left: 50%; text-align: center;">
          <img src='../../../assets/Tech_icon.png' alt="Technical Image" style="float: left;">
          <div class="header-title" style="float: right">Technical Article</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <p *ngFor="let value of progressbar.content[6][1].users"> {{value}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="brainandhealth">
    <div class="brainteaser">
      <div *ngIf='progressbar.content.length > 7'>
        <div class="row">
          <div class="col-md-12">
            <p style="background-color:#083d6d;height: 10px;"></p>
          </div>
        </div>
        <strong class="header-title">Brain Teaser</strong>
        <div class="row">
          <div class="col-md-8">
            <ul class="brainteaser">
              <li *ngFor="let value of progressbar.content[7][1].users; index as i">Q{{i + 1}}: {{value}}</li>
            </ul>
          </div>
          <div class="col-md-4" style="height: 50px; !important">
            <img src='../../../assets/dimag-ki-batti.png' class="image" alt="Brain Teaser" style="height: 113px; ">
          </div>
        </div>
      </div>
    </div>

    <div class="healthTips">
      <div *ngIf='progressbar.content.length > 8'>
        <strong class="header-title">Health Tips</strong>
        <div class="row">
          <div class="col-md-8">
            <ol>
              <li *ngFor="let value of progressbar.content[8][1].users"> {{value}}</li>
            </ol>
          </div>
          <div class="col-md-4">
            <img src='../../../assets/Medical_health_care.png' class="image" alt="Brain Teaser">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teamImage">
    <div class="row" *ngIf='progressbar.content.length > 9'>
      <div class="col-md-12">
        <p style="background-color:#083d6d;height: 10px;"></p>
      </div>
    </div>
    <div class="row" *ngIf='progressbar.content.length > 9'>
      <div class="col-md-12">
        <img src='{{ progressbar.content[10][0]}}' width="100%" alt="" />
      </div>
    </div>

    <div class="row" *ngIf='progressbar.content.length > 10'>
      <div class="col-md-12">
        <p style="background-color:#083d6d;height: 10px;"></p>
      </div>
    </div>

    <div class="row" *ngIf='progressbar.content.length > 10'>
      <div class="col-md-3">
        <img src="../../../assets/Birthday.png" width="50px" alt="" />
      </div>
      <div class="col-md-3" *ngFor="let value of progressbar.content[10][1]">
        <img src='{{ value }}' width="50px" alt='{{ value }}' />
      </div>
    </div>

    <br>
    <div class="row"  *ngIf='progressbar.content.length > 10'>
      <div class="col-md-3">
        <img src="../../../assets/Award_Anniversaries-icon.png" width="50px" alt="" />
      </div>
      <div class="col-md-3" *ngFor="let value of progressbar.content[10][2]">
        <img src='{{ value }}' width="50px" alt='{{ value }}' />
      </div>
    </div>
  </div>


  <div class="brainteaserans">
    <div *ngIf='progressbar.content.length > 9'>
      <div class="row">
        <div class="col-md-12">
          <p style="background-color:#083d6d;height: 10px;"></p>
        </div>
      </div>
      <strong class="header-title">Brain Teaser Answer</strong>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li *ngFor="let value of progressbar.content[9][1].users; index as i">A{{i}}: {{value}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footersec">
    <div class="row" style="height: 100px;color:#083d6d;background-color:#083d6d;">
      <div class="col-md-6">
        <img alt="Graph" src="../../../assets/SR_Logo_RGB_W.png" style="margin-top: 50px;">
      </div>

      <div class="col-md-6">
        <table style="float : right; margin-top: 10px;">
          <tbody>
            <tr>
              <td>
                <div style=" font-size: 12px; margin-top: 5px;">
                  <p style="color:white; display:inline; font-weight: bold;">Concept:</p>
                  <p style="color:white; display:inline;"> Varun Sodhi, Amit, Deepak</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div style="float:right; font-size: 12px; margin-top: 5px;">
                  <p style="color:white; display:inline; font-weight: bold;">Design & Execution: </p>
                  <p style="color:white; display:inline;">Amit, Deepak</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>

</div>
