<div class="card">
    <div class="card-header" (click)="expandMoreOrLess()" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button">
          <div class="row">
            <div class="col-md-9 healthtipsSection">
             Health Tips
            </div>
            <div class="col-md-1" [ngClass]="{'closed': expandtoggle.healthsection.status == 'closed','open': expandtoggle.healthsection.status == 'open'}">
            </div>
          </div>
        </button>

      </h5>
    </div>
    <div id="collapseSeven" [ngClass]='showorhide' class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample"
      style=" background-color: bisque !important;" (click)="showActive()">
      <div class="card-body">
        <h3>Health Tips</h3>
      </div>
      <div class="card-body">
        <div>
          <form [formGroup]="userFormuserhealthytips" (ngSubmit)="onFormSubmit()">
            <div formArrayName="users">
              <div *ngFor="let user of users.controls; index as idx">
              <textarea [formControlName]="idx"  class="form-control" aria-label="With textarea" placeholder="Health Tips"></textarea>
              </div>
            </div>
            <br>
            <div>
              <button type="submit" class="btn btn-primary" id="btnHealthTips" style="margin-right: 6px; margin-bottom: 2px">Save Health Tips</button>
              <button type="button" class="btn btn-primary" id="btnAddMoreHealthTips" (click)="addMoreInputBox()">Add More Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

