<div class="brainandhealth"   [style.background]="'url(http://localhost:3001/' + progressBarService.backgroundImage[3]?.brainandhealth + ')'">
  <div class="brainteaser">
    <div *ngIf='progressBarService.content.length > 7'>
      <strong>Brain Teaser</strong>
      <div class="row">
        <div class="col-md-8">
          <ul>
              <li *ngFor="let value of progressBarService.content[7][1].users; index as i" >Q{{i + 1}}: {{value}}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <img src='../../../assets/dimag-ki-batti.png' class="image" alt="Brain Teaser">
        </div>
      </div>
    </div>
  </div>

  <div class="healthTips">
    <div *ngIf='progressBarService.content.length > 8'>
      <strong>Health Tips</strong>
      <div class="row">
        <div class="col-md-8">
          <ol>
            <li *ngFor="let value of progressBarService.content[8][1].users"> {{value}}</li>
          </ol>
        </div>
        <div class="col-md-4">
          <img src='../../../assets/Medical_health_care.png' class="image" alt="Brain Teaser">
        </div>
      </div>
    </div>
  </div>
</div>
