<h3>Brain Teaser and Health Tips</h3>
<div class="brainandhealth" *ngIf="progressBarService.backgroundImage.brainandhealth"  [style.background]="'url(http://localhost:3001/' + progressBarService.backgroundImage?.brainandhealth + ')'">
  <div class="brainteaser">
    <div *ngIf='progressBarService.newsletterContent.brainteaser'>
      <strong>Brain Teaser</strong>
      <div class="row">
        <div class="col-md-8">
          <ul>
              <li *ngFor="let value of progressBarService.newsletterContent.brainteaser; index as i" >Q{{i + 1}}: {{value}}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <img src='../../../assets/dimag-ki-batti.png' class="image" alt="Brain Teaser">
        </div>
      </div>
    </div>
  </div>

  <div class="healthTips">
    <div *ngIf='progressBarService.newsletterContent.healthtips'>
      <strong>Health Tips</strong>
      <div class="row">
        <div class="col-md-8">
          <ol>
            <li *ngFor="let value of progressBarService.newsletterContent.healthtips"> {{value}}</li>
          </ol>
        </div>
        <div class="col-md-4">
          <img src='../../../assets/Medical_health_care.png' class="image" alt="Brain Teaser">
        </div>
      </div>
    </div>
  </div>
</div>
