<div class="header">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="container">
  <div class="row no-container" >
    <div class="col-md-2" id="sectionhead">
      <div class="liner">
        <div [ngClass]="{'sectionheadlineActive': line.sectionHead.status == 'active', 'sectionheadlineCompleted': line.sectionHead.status == 'completed'}"></div>
        <div [ngClass]="{'businessupdatelineActive': line.businessupdate.status == 'active', 'businessupdatelineCompleted': line.businessupdate.status == 'completed'}"></div>
        <div [ngClass]="{'opportunitylineActive': line.opportunityInPipeline.status == 'active', 'opportunitylineCompleted': line.opportunityInPipeline.status == 'completed'}"></div>
        <div [ngClass]="{'acheivementlineActive': line.acheivement.status == 'active', 'acheivementlineCompleted': line.acheivement.status == 'completed'}"></div>
        <div [ngClass]="{'plannedlineActive': line.planned.status == 'active', 'plannedlineCompleted': line.planned.status == 'completed'}"></div>
        <div [ngClass]="{'projstatlineActive': line.projstatInPipeline.status == 'active', 'projstatlineCompleted': line.projstatInPipeline.status == 'completed'}"></div>
        <div [ngClass]="{'techlineActive': line.tech.status == 'active', 'techlineCompleted': line.tech.status == 'completed'}"></div>
        <div [ngClass]="{'brainteaserlineActive': line.brainteaser.status == 'active', 'brainteaserlineCompleted': line.brainteaser.status == 'completed'}"></div>
        <div [ngClass]="{'healthtipslineActive': line.healthtips.status == 'active', 'healthtipslineCompleted': line.healthtips.status == 'completed'}"></div>
        <div [ngClass]="{'teamandbirthdaylineActivate': line.teamandbirthday.status == 'active', 'teamandbirthdaylineCompleted': line.teamandbirthday.status == 'completed'}"></div>

      </div>

      <div class="">
        <div class="section1">
          <div class="navbar-brand section"  [ngClass]="{'active': completedSections.sectionHead.status == 'active', 'completed': completedSections.sectionHead.status == 'completed'}">
              <img src="../assets/attrition_icon.png" height="20px" width="20px">
          </div>
        </div>
        <div class="section1">
          <div class="navbar-brand section" [ngClass]="{'active': completedSections.businessupdate.status == 'active', 'completed': completedSections.businessupdate.status == 'completed'}">
            <img src="../assets/Business update.png" height="20px" width="20px">
            </div>
        </div>
        <div class="section1" >
          <div class="navbar-brand section" [ngClass]="{'active':completedSections.opportunityInPipeline.status == 'active', 'completed': completedSections.opportunityInPipeline.status == 'completed'}">
            <img src="../assets/Opprtunities_Img.png" height="20px" width="20px">
            </div>
        </div>
        <div class="section1" >
          <div class="navbar-brand section" [ngClass]="{'active':completedSections.acheivement.status == 'active', 'completed': completedSections.acheivement.status == 'completed'}">
            <img src="../assets/Achieved.png" height="20px" width="20px">
            </div>
        </div>
        <div class="section1" >
          <div class="navbar-brand section" [ngClass]="{'active':completedSections.planned.status == 'active', 'completed': completedSections.planned.status == 'completed'}">
            <img src="../assets/Planning.png" height="20px" width="20px">
            </div>
        </div>
        <div class="section1">
          <div class="navbar-brand section" [ngClass]="{'active': completedSections.projstat.status == 'active', 'completed': completedSections.projstat.status == 'completed'}">
            <img src="../assets/DFA.png" height="20px" width="20px">
          </div>
        </div>
        <div class="section1">
          <div class="navbar-brand section"  [ngClass]="{'active': completedSections.tech.status == 'active', 'completed': completedSections.tech.status == 'completed'}">
            <img src="../assets/Tech_icon.png" height="20px" width="20px">
            </div>
        </div>
        <div class="section1">
          <div class="navbar-brand section"  [ngClass]="{'active': completedSections.brainteaser.status == 'active', 'completed': completedSections.brainteaser.status == 'completed'}">
            <img src="../assets/dimag-ki-batti.png" height="20px" width="20px">
         </div>
        </div>
        <div class="section1">
          <div class="navbar-brand section" [ngClass]="{'active': completedSections.healthcare.status == 'active', 'completed': completedSections.healthcare.status == 'completed'}">
            <img src="../assets/Medical_health_care.png" height="20px" width="20px">
          </div>
        </div>
        <div class="section1">
          <div class="navbar-brand section"  [ngClass]="{'active': completedSections.brainteaseranswer.status == 'active', 'completed': completedSections.brainteaseranswer.status == 'completed'}">
            <img src="../assets/baseline-question_answer-24px.svg" height="20px" width="20px">
          </div>
        </div>
        <div class="section1">
          <div class="navbar-brand section"  [ngClass]="{'active': completedSections.teamandbirthday.status == 'active', 'completed': completedSections.teamandbirthday.status == 'completed'}">
            <img src="../assets/teamicon.png" height="20px" width="20px">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="accordion" id="accordionExample">
        <app-section-head [expandtoggle]="expandtoggle" [completedSections]="completedSections" [line]="line" [businessupdate]="businessupdate"></app-section-head>
        <app-business-update [expandtoggle]="expandtoggle"  [opportunityPipeline]="opportunityPipeline" [line]="line" [completedSections]="completedSections" #businessupdate></app-business-update>
        <app-opportunity-pipeline [expandtoggle]="expandtoggle"  [completedSections]="completedSections" [line]="line" [acheivement]="acheivement" #opportunityPipeline></app-opportunity-pipeline>
        <app-acheivement [expandtoggle]="expandtoggle"  [completedSections]="completedSections" [line]="line"  [planned]="planned" #acheivement></app-acheivement>
        <app-planned [expandtoggle]="expandtoggle"  [completedSections]="completedSections" [line]="line" [projectstat]="projectstat" #planned ></app-planned>
        <app-project-statistics [expandtoggle]="expandtoggle" [completedSections]="completedSections"  [line]="line" [technicalarticle]="technicalarticle" #projectstat></app-project-statistics>
        <app-technical-article [expandtoggle]="expandtoggle" [completedSections]="completedSections" [line]="line" [brainteaser]="brainteaser" #technicalarticle></app-technical-article>
        <app-brain-teasers  [expandtoggle]="expandtoggle" [completedSections]="completedSections" [line]="line" [healthytips]="healthytips"  #brainteaser></app-brain-teasers>
        <app-healthy-tips  [expandtoggle]="expandtoggle" [completedSections]="completedSections"  [line]="line" [brainteaseranswer]="brainteaseranswer" #healthytips></app-healthy-tips>
        <app-brain-teaser-answer  [expandtoggle]="expandtoggle" [completedSections]="completedSections" [teamphotobirthday]="teamphotobirthday" #brainteaseranswer></app-brain-teaser-answer>
        <app-teamphoto-birthday  [expandtoggle]="expandtoggle" [completedSections]="completedSections"  [line]="line" #teamphotobirthday></app-teamphoto-birthday>
      </div>
    </div>
    <div class="col-md-5">
      <div   style="position: fixed;">
              <!-- <a routerLink="/header">Header Section</a> -->
      <router-outlet></router-outlet></div>

    </div>
  </div>

</div>

<footer>
  <div class="footer">
    &copy; Sapient Razorfish - 2018
  </div>
</footer>


