<div class="card">
  <div class="card-header" (click)="expandMoreOrLess()" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
    aria-controls="collapseTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button">
        <div class="row">
          <div class="col-md-9 businessUpdate">
            Bussiness Update Section
          </div>
          <div class="col-md-1" [ngClass]="{'closed': expandtoggle.businessupdate.status == 'closed','open': expandtoggle.businessupdate.status == 'open'}">

          </div>
        </div>
      </button>

    </h5>
  </div>
  <div id="collapseTwo" [ngClass]='businessShowOrHide' class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample"
    style=" background-color: bisque !important;" (click)="showActive()">
    <div class="card-body">
      <h3>Business Update</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form>
            <!-- <div class="form-group">
                            <label for="multiple">Multiple</label>
                            <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
                        </div> -->
            <div class="form-group">
              <label for="single">Please upload background Image</label>
              <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
            </div>
            <div class="form-group">
              Queue progress:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
            <!-- <button type="button" class="btn btn-success btn-s" (click)="backgroundImageUpload()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
            </button> -->
            <button type="submit" class="btn btn-primary" id="btnuploadBusinessBckImage" (click)="backgroundImageUpload()" style="margin-right: 6px; margin-bottom: 2px">Upload</button>
          </form>
        </div>
      </div>
      <div style="margin-top: 2%;">
        <form [formGroup]="userFormBusiness" (ngSubmit)="onFormSubmit($event)">
          <!-- <div class="form-group">
            <input type="file" name="img[]" class="file"  (change)="fileChange(input)" #input >
          </div>
          <br> -->
          <!-- <img src='{{file_srcs[0]}}' alt="" /> -->
          <div formArrayName="usersBusiness">

            <div *ngFor="let user of usersBusiness.controls; index as idx">
              <textarea [formControlName]="idx" class="form-control" aria-label="With textarea" placeholder="Bussiness Update"></textarea>
            </div>
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary" id="btnBusinessSection" style="margin-right: 6px; margin-bottom: 2px">Save Business Update</button>
            <button type="button" class="btn btn-primary" id="btnAddMoreBusinessUpdate" (click)="addMoreBusinessInputBox()">Add More Update</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
