<h3>Brain Teaser Answer</h3>
<div class="brainteaserans" *ngIf="progressBarService.backgroundImage[4]"   [style.background]="'url(http://localhost:3001/' + progressBarService.backgroundImage[4]?.brainteaserans + ')'">
    <div *ngIf='progressBarService.newsletterContent.brainteaserans'>
      <strong>Brain Teaser Answer</strong>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li *ngFor="let value of progressBarService.newsletterContent.brainteaserans; index as i">A{{i}}: {{value}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
