<h3>Technical Section</h3>
<div class="planning" *ngIf="progressBarService.backgroundImage[2]" [style.background]="'url(http://localhost:3001/' + progressBarService.backgroundImage[2]?.technical + ')'">
  <div *ngIf='progressBarService.content.length > 6'>
    <div class="row">
      <div style="margin-left: 50%;">
      <img src='../../../assets/Tech_icon.png' alt="Technical Image" >
      <strong>Technical Article</strong></div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <ul>
          <li *ngFor="let value of progressBarService.newsletterContent.technicalsection"> {{value}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
