<h3>Planned Section</h3>
<div class="planning" *ngIf="progressBarService.backgroundImage[1]" [style.background]="'url(http://localhost:3001/' + progressBarService.backgroundImage[1]?.planned + ')'">
  <div *ngIf='progressBarService.content.length > 4'>
    <strong>Planned</strong>
    <div class="row">
      <div class="col-md-10">
        <ul>
          <li *ngFor="let value of progressBarService.content[4][0].users"> {{value}}</li>
        </ul>
      </div>
      <div class="col-md-2">
        <img src="../../../assets/Planning.png" style="margin: 5px;padding: 10px;" class="image" alt="Business Update Image" />
      </div>

    </div>
  </div>
  <div *ngIf='progressBarService.content.length > 5'>
    <strong class="header-title" style="text-align: center">Project Statistics</strong>
    <div class="projectstat">
      <div class="row">
        <div class="col-md-6" style="padding-top: 8%">
          <div class="row">
            <div class="col-md-12">
              <img src="../../../assets/chart-pie-512.png" style="margin: 5px;padding: 10px;" class="image" alt="Business Update Image"
              />
              <strong style="font-family: Impact;font-size: 21pt;text-align: center">{{progressBarService.content[5].rlticketcount}} + </strong> Tickets cleaned up from the backlog.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <img src="../../../assets/chart-pie-512.png" style="margin: 5px;padding: 10px;" class="image" alt="Business Update Image"
              />
              <strong style="font-family: Impact;font-size: 21pt;text-align: center">{{progressBarService.content[5].lsticketcount}} + </strong> Tickets cleaned up from the backlog.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3"><img src="../../../assets/DFA.png" style="margin: 5px;padding: 10px;" class="image" alt="Business Update Image"
              /></div>
            <div class="col-md-3"><img src="../../../assets/Attrition.png" style="margin: 5px;padding: 10px;" class="image" alt="Business Update Image"
              /></div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>Michelin</strong></div>
            <div class="col-md-3 projstat-values">{{progressBarService.content[5].michelindfa}}%</div>
            <div class="col-md-3 projstat-values">{{progressBarService.content[5].michelinatter}}%</div>
          </div>
          <div class="row">
            <div class="col-md-6 projstat-values"><strong>MGM</strong></div>
            <div class="col-md-3 projstat-values">{{progressBarService.content[5].mGMDFA}}%</div>
            <div class="col-md-3 projstat-values">{{progressBarService.content[5].mGMAtter}}%</div>
          </div>
          <div class="row">
              <div class="col-md-6 projstat-values"><strong>Goldman Sachs</strong></div>
              <div class="col-md-3 projstat-values">{{progressBarService.content[5].michelindfa}}%</div>
              <div class="col-md-3 projstat-values">{{progressBarService.content[5].michelindfa}}%</div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
