<div class="card">
  <div class="card-header" (click)="expandMoreOrLess()"  id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button">
        <div class="row">
          <div class="col-md-9 acheivementSection">
           Acheivement
          </div>
          <div class="col-md-1" [ngClass]="{'closed': expandtoggle.acheivement.status == 'closed','open': expandtoggle.acheivement.status == 'open'}">
          </div>
        </div>
      </button>

    </h5>
  </div>
  <div id="collapseEight" [ngClass]='showorhide' class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample"
    style=" background-color: bisque !important;" (click)="showActive()">
    <div class="card-body">
      <h3>Acheivements</h3>
    </div>
    <div class="card-body">
      <div>
        <form [formGroup]="userFormuseracheivement" (ngSubmit)="onFormSubmit($event)">
          <div formArrayName="users">
            <div *ngFor="let user of users.controls; index as idx">
                <textarea [formControlName]="idx"  class="form-control" aria-label="With textarea" placeholder="Acheivement"></textarea>
            </div>
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary" id="btnAcheivement" style="margin-right: 6px; margin-bottom: 2px">Save Acheivement Section</button>
            <button type="button" class="btn btn-primary" id="btnAddMoreAcheivement" (click)="addMoreInputBox()">Add More Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

