<h3>Business Section</h3>
<div class="businessupdate" *ngIf="progressBarService.backgroundImage.business" [style.background]="'url(http://localhost:3001/' + progressBarService.backgroundImage?.business + ')'">
  <div *ngIf='progressBarService.newsletterContent.business'>
    <div class="row">
      <div class="col-md-12">
        <img src="../../../assets/Business update.png" style="margin: 5px;padding: 10px;" class="image" alt="Business Update Image"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li *ngFor="let value of progressBarService.newsletterContent.business"> {{value}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf='progressBarService.newsletterContent.opportunity'>
    <strong> Opportunities In Pipeline</strong>
    <div class="opportuniyInPipeline">
      <div class="row">
        <div class="col-md-2">
          <div>
            <img src="../../../assets/Opprtunities_Img.png" style="margin: 5px;padding: 10px;" class="image" alt="Opportunity Image"
            />
          </div>
        </div>
        <div class="col-md-10">
          <ul>
            <li *ngFor="let value of progressBarService.newsletterContent.opportunity"> {{value}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf='progressBarService.newsletterContent.acheivemnt'>
    <strong> Acheivement </strong>
    <div class="opportuniyInPipeline">
      <div class="row">
        <div class="col-md-2">
          <div>
            <img src="../../../assets/Achieved.png" style="margin: 5px;padding: 10px;" class="image" alt="Opportunity Image" />
          </div>
        </div>
        <div class="col-md-10">
          <ul>
            <li *ngFor="let value of progressBarService.newsletterContent.acheivemnt"> {{value}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
