<h3>Business Section</h3>
<div class="businessupdate">
  <div *ngIf='progressBarService.content.length > 1'>

    <div class="row">
      <div class="col-md-2">
        <img src="../../../assets/Business update.png" style="margin: 5px;padding: 10px;" class="image" alt="Business Update Image"
        />
      </div>
      <div class="col-md-10">
        <ul>
          <li *ngFor="let value of progressBarService.content[1][0].usersBusiness"> {{value}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf='progressBarService.content.length > 2'>
    <strong> Opportunities In Pipeline</strong>
    <div class="opportuniyInPipeline">
      <div class="row">
        <div class="col-md-2">
          <div>
            <img src="../../../assets/Opprtunities_Img.png" style="margin: 5px;padding: 10px;" class="image" alt="Opportunity Image"
            />
          </div>
        </div>
        <div class="col-md-10">
            <ul>
              <li *ngFor="let value of progressBarService.content[2][0].users"> {{value}}</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf='progressBarService.content.length > 3'>
      <strong> Acheivement </strong>
      <div class="opportuniyInPipeline">
        <div class="row">
          <div class="col-md-2">
            <div>
              <img src="../../../assets/Achieved.png" style="margin: 5px;padding: 10px;" class="image" alt="Opportunity Image"
              />
            </div>
          </div>
          <div class="col-md-10">
              <ul>
                <li *ngFor="let value of progressBarService.content[3][0].users"> {{value}}</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
</div>

