<h2>Header Section</h2>
<br>
<div class="row">
    <tbody>
        <tr>
          <td id="header-top" style="height: 17px;background-color:none;"></td>
        </tr>
        <tr>
          <td id="header" style="position: relative; text-align: center;">
            <img alt="logo" src="../../../assets/header-image.PNG" width="432px">
            <div style="position: absolute; bottom: 8px; right: 16px;font:bold">May'18 Edition</div>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf = 'progressbar.content[0]?.sectionheadImage'>
        <tr id="biz-text">
          <td style="text-align: left;color: #000; font-size: 12px">
            <p style="background-repeat: no-repeat;background-color: none;margin-top:-5px;margin-bottom:-3px;color:#083d6d;">
                <!-- <img src='{{ progressbar.content[0].headerimage }}' width="432px" alt="" /> -->
                <!-- <img [src] ="'this.filePath | safeHtml'" width="432px" alt="" /> -->

                <!-- {{this.filePath}}
                {{progressbar.content[0].headerimage}}
                <img [src]='this.filePath | safeHtml' width="432px" /> -->
                <img src = "http://localhost:3001/{{progressbar.content[0].sectionheadImage}}" width="432px" />
            </p>
          </td>
        </tr>
      </tbody>
</div>



